* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: rgb(17 24 39);
}

img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    padding-top: 20px;
}

h2 {
    margin-bottom: 40px;
}


a {
    text-decoration: none;
}

ul, ol {
    margin: 10px 0px 20px 0px;
}

li {
    margin-bottom: 5px; 
}

.recipe-card, .menu-card {
    width: 400px;
    text-align: center;
    background-color: #fffafa;
    color: black;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    border-radius: 25px;
}

.menu-card {
    text-align: center;
}

.recipe-card {
    text-align: left;
}

.recipe-card p {
    padding: 10px 0px 20px 0px;
}

.menu-card:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}