* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: rgb(17 24 39);
}

img {
    width: 200px;
    height: auto;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 140;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
    margin-bottom: 20px;
}

.recipe-card {
    width: 400px;
    text-align: center;
    background-color: #fffafa;
    color: black;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    border-radius: 25px;
}